<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">Search Books with the Google Books Api</h3>
                    <p> Please fill one of the input fields at least.</p>
                    <form (ngSubmit)="formSearch()" #searhForm="ngForm" autocomplete="nope">
                        <div class="form-row">
                            <div class="col-4">
                                <label for="input-author">Author</label>
                                <input class="form-control" id="input-author" type="text" name="author" [(ngModel)]="searchInputData.author" pattern="[a-zA-Z]*" placeholder="">
                            </div>
                            <div class="col-4">
                                <label for="input-title">Title</label>
                                <input class="form-control" id="input-title" name="title" [(ngModel)]="searchInputData.title" type="text" placeholder="">
                            </div>
                            <div class="col-4 d-flex align-items-end">
                                <button [disabled]="isInvalid() || formSubmitted" type="submit" class="btn bg-dark text-white ml-3 btn-block">
                                    <span *ngIf="formSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="formState.type === 'error'" class="alert alert-danger mt-2 mb-0" role="alert">
                        {{ formState?.message }}
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body" style="position: relative">
                    <app-book-list [books]="allBooks" [chunkLoading]="chunkLoading" [noMoreData]="noMoreData" (scrollEnd)="paginatedSearch($event)"></app-book-list>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <router-outlet></router-outlet> -->