<!-- <ul class="list-unstyled">
    <cdk-virtual-scroll-viewport itemSize="80" (scrolledIndexChange)="onIndexChanged($event)">
        <ng-container *cdkVirtualFor="let book of books; let i = index; trackBy: trackByIndex">
            <li class="media mb-3">

                <app-thumb-img [hasImage]="book.smallThumbnailUrl !== ''" [src]="book.smallThumbnailUrl" [alt]="'thumbnail'"></app-thumb-img>

                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ book.title }}</h5>
                    <p *ngIf="book.description">{{ book.description | slice:0:60 }}...</p>
                </div>
            </li>
        </ng-container>
    </cdk-virtual-scroll-viewport>
</ul> -->

<cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="onIndexChanged($event)">
    <ng-container *cdkVirtualFor="let book of books; let i = index; trackBy: trackByIndex">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-1">
                    <app-thumb-img [hasImage]="book.smallThumbnailUrl !== ''" [src]="book.smallThumbnailUrl" [alt]="'thumbnail'"></app-thumb-img>
                </div>
                <div class="col-md-11">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text" *ngIf="book.description">{{ book.description | slice:0:60 }} <span class="more-placeholder" *ngIf="book.description.length > 60">...</span></p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</cdk-virtual-scroll-viewport>